body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
}
h1 {
    color: rgb(214, 51, 132);
}
.garden {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.flower {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}
.flower:hover {
    transform: scale(1.2);
}
.message {
    margin-top: 20px;
    font-size: 18px;
    color: #b22222;
}
.hidden {
    display: none;
}
.counter {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: rgb(214, 51, 132);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.event {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}
.event img {
    width: 100%;
    border-radius: 10px;
}
.event h3 {
    margin: 10px 0;
}
.event p {
    font-size: 16px;
}
.date {
    color: #888;
    font-size: 14px;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
button {
    padding: 15px 30px;
    background-color: #ffa6bc;
    color: #000000;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #ff1a3d;
}
.song {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: rgb(214, 51, 132);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}